extends layout

block customMeta
  link(rel="stylesheet" href="/css/bootstrap.min.css")
  script(src='https://api.tiles.mapbox.com/mapbox-gl-js/v0.29.0/mapbox-gl.js')
  script(src='https://maps.googleapis.com/maps/api/js?key=AIzaSyDlnm-2Urb5Y1OGX-gZ8twZPuJx9tWj5QA')
  script(src="/js/jquery.min.js")
  script(src="/js/bootstrap.min.js")
  link(href='https://api.tiles.mapbox.com/mapbox-gl-js/v0.29.0/mapbox-gl.css' rel='stylesheet')
  style.
    body { margin:0; padding:0; }
    #map { position:absolute; top:0; bottom:0; width:100%; }
    #flyButtonMenu {
      position:absolute;
      top:10px;
      left:10px;
      width:400px;
    }

block content
  div(id='map')
  script(src='/javascripts/map.js')

  div(id='flyButtonMenu')
    div(class="input-group")
      input(id="address-input" type="text" class="form-control" placeholder="Search for address...")
      span(class="input-group-btn")
        button(class="btn btn-default" type="button" onclick="searchAddress();") Go!
